<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card govco-card">
          <div class="card-body row card-bodyrow p-5">
            <!-- seccion 1 -->
            <div class="card govco-card col-3 certificado">
              <div class=" card-header govco-card-header certificadotitulo" *ngIf="Isdatos">
                {{Dataloaded.seccion1.tratimestitulo}}
              </div>
              <div class="card-body">
                <p class="card-text bodymnensaje" *ngIf="Isdatos">{{Dataloaded.seccion1.tratimesSubtitulo}}</p>
                <p class="mensaje" *ngIf="Isdatos">{{Dataloaded.seccion1.tratimesSubtitulo2}}</p>
                <button type="button" class="btn-symbolic-govco">
                  <span class="govco-icon govco-icon-check-n btnlinea"></span>
                  <span class="btn-govco-text textright-govco textrightLinea" *ngIf="Isdatos">{{Dataloaded.seccion1.tratimesDisponiblidad}}</span>
              </button>
              </div>
              <div class="card-footer govco-card-footer govco-center">
                <div class="row"> 
                    <div class="col-1 footerseccion-activo mr-1"></div>
                    <div class="col-1 footerseccion mr-1"></div>
                    <div class="col-1 footerseccion mr-1" ></div>
                    <div class="col-1 footerseccion mr-1" ></div>
                    <div class="col-1 footerseccion mr-1" ></div>
                </div>
              </div>
            </div>
            <!-- listado de tramites -->
            <div class="col-9"> 
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action mt-2">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" *ngIf="Isdatos">{{Dataloaded.tramites.titulo1}}</h5>
                  </div>
                  <p class="text-blue" *ngIf="Isdatos">{{Dataloaded.tramites.subtitulo1}}</p>
                  <div class="row">
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-check-n btnlinea"></span>
                        <span class="btn-govco-text textright-govco textrightLinea" *ngIf="Isdatos">{{Dataloaded.tramites.info1}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-peso-col-cp btnlineaverde"></span>
                        <span class="btn-govco-text textright-govco textrightblue" *ngIf="Isdatos">{{Dataloaded.tramites.info2}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <a href="" *ngIf="Isdatos">{{Dataloaded.vertramite}}</a>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action mt-2">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" *ngIf="Isdatos">{{Dataloaded.tramites.titulo2}}</h5>
                  </div>
                  <p class="text-blue" *ngIf="Isdatos">{{Dataloaded.tramites.subtitulo2}}</p>
                  <div class="row">
                    <div class="col-4">
                      <p class="text-blue" *ngIf="Isdatos">{{Dataloaded.tramites.info3}}</p>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-peso-col-cp btnlineaverde"></span>
                        <span class="btn-govco-text textright-govco textrightblue" *ngIf="Isdatos">{{Dataloaded.tramites.info4}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <a href="" *ngIf="Isdatos">{{Dataloaded.vertramite}}</a>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action mt-2">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" *ngIf="Isdatos">{{Dataloaded.tramites.titulo3}}</h5>
                  </div>
                  <p class="text-blue" *ngIf="Isdatos">{{Dataloaded.tramites.subtitulo3}}</p>
                  <div class="row">
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-check-n btnlinea"></span>
                        <span class="btn-govco-text textright-govco textrightLinea" *ngIf="Isdatos">{{Dataloaded.tramites.info1}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-peso-col-cp btnlineaverde"></span>
                        <span class="btn-govco-text textright-govco textrightblue" *ngIf="Isdatos">{{Dataloaded.tramites.info4}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <a href="" *ngIf="Isdatos">{{Dataloaded.vertramite}}</a>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action mt-2">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" *ngIf="Isdatos">{{Dataloaded.tramites.titulo4}}</h5>
                  </div>
                  <p class="text-blue" *ngIf="Isdatos">{{Dataloaded.tramites.subtitulo4}}</p>
                  <div class="row">
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-check-n btnlinea"></span>
                        <span class="btn-govco-text textright-govco textrightLinea" *ngIf="Isdatos">{{Dataloaded.tramites.info1}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-peso-col-cp btnlineaverde"></span>
                        <span class="btn-govco-text textright-govco textrightblue" *ngIf="Isdatos">{{Dataloaded.tramites.info4}}</span>
                    </button>
                    </div>
                    <div class="col-4">
                      <a href="" *ngIf="Isdatos">{{Dataloaded.vertramite}}</a>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          
            <!-- opiniones --> 
            <div class="row col-12 pt-5">
              <div class="col-12"><h2 class="headline-xl-govco opiniontitulo"*ngIf="Isdatos">{{Dataloaded.seccion2.tituloOpinion}}</h2></div>
              <div class="col-7">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action mt-2">
                    <div class="d-flex w-100 justify-content-between tituloopiones fondonaranga" *ngIf="Isdatos">
                      <h4 class="tituloopiones">{{Dataloaded.seccion2.opciones.titulo1}}</h4>
                    </div>
                    <p class="text-blue-blod" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.subtitulo1}}</p>
                    <div class="row">
                      <div class="col-6"><small class="text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.presidencia}}</small></div>
                      <div class="col-6 text-right"><small class="text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.colombianos}}</small></div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action mt-2">
                    <div class="d-flex w-100 justify-content-between tituloopiones fondonverder" *ngIf="Isdatos">
                      <h4 class="tituloopiones">{{Dataloaded.seccion2.opciones.titulo2}}</h4>
                    </div>
                    <p class="text-blue-blod" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.subtitulo2}}</p>
                    <div class="row">
                      <div class="col-6"><small class="text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.secretariamovilidad}}</small></div>
                      <div class="col-6 text-right"><small class="text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.colombianos2}}</small></div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action mt-2">
                    <div class="d-flex w-100 justify-content-between tituloopiones fondonazul" *ngIf="Isdatos">
                      <h4 class="tituloopiones">{{Dataloaded.seccion2.opciones.titulo3}}</h4>
                    </div>
                    <p class="text-blue-blod" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.subtitulo3}}</p>
                      <small class="text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.opciones.tecnologia}}</small>
                  </a>
                </div>              
                  <button type="button" class="btn btn-round btn-high-mix-govco float-right">
                    <span class="btn-govco-text text-blue"*ngIf="Isdatos">{{Dataloaded.seccion2.opciones.btnejecicio}}</span>
                    <span class="govco-icon govco-icon-right-arrow text-blue"></span>
                  </button>
            </div>
            <!-- opinion -->
            <div class="card govco-card col-5 certificado">
              <div class=" card-header govco-card-header headeropinion" *ngIf="Isdatos">
              {{Dataloaded.seccion2.cuentanos}}
              </div>
              <div class="card-body">
                <p class="card-text text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.ayuda}}</p>
                <p class="mensajeopinion text-blue" *ngIf="Isdatos">{{Dataloaded.seccion2.mensaje1}}</p>
                <textarea class="form-control" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example" maxlength="300">
                </textarea>
              </div>
              <div class="card-footer govco-card-footer govco-center">
                <div>
                  <button href="/" class="btn btn-round btn-middle" *ngIf="Isdatos">{{Dataloaded.seccion2.btonenviar}}</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    utils.init();
    utils.countCharacter("textarea-example", 300);
  </script>