<div class="mt-8">
    <img src="../../../assets/Image/banner.png" class="bannerImagen">

    <h1 class="eadline-xl-govco text-white bannerFormulario" *ngIf="Dataloaded">{{DataBanner.Banner.Titulo1}}</h1>
    <input type="text" class="form-control input-govco  left-input text-left" *ngIf="Dataloaded"
        placeholder="{{DataBanner.Banner.placeholder}}" id="input-simple-govco" required>
    <h1 class="eadline-xl-govco text-white bannerFormulario2" *ngIf="Dataloaded">{{DataBanner.Banner.Titulo2}}</h1>
</div>